<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="form_all_login">
                    <form role="form" method="post" action="/login">
                        <div class="form-group_login">
                            <h3>FORM ĐĂNG NHẬP</h3>
                            <label>
                                <p>Enter Email</p>
                            </label>
                            <input class="form-control_login" type="email" name="email" />
                        </div>
                        <br>
                        <div class="form-group_login">
                            <label>
                                <p>Enter Password</p>
                            </label>
                            <input class="form-contro_loginl" type="password" name="password" />
                        </div>
                        <button type="submit" class="btn btn-danger_login">Login</button>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <!--/.ROW-->
    </div>
</div>

<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &copy; 2014 Yourdomain.com |<a href="http://www.binarytheme.com/" target="_blank"> Designed by :
                    binarytheme.com</a>
            </div>

        </div>
    </div>
</section>